.city-selector {
  display: grid;
  place-items: center;
  grid-gap: 0.5rem;
  min-height: 100%;

  // label {
  //   margin-inline: 0.5rem;
  // }

  .disclaimer {
    font-size: 1.4rem;
  }

  .input {
    margin-bottom: 0.5rem;
  }
}